.course-page {
    width: 100%;
    max-width: 1350px;
    margin: 20px auto;
    border-radius: 8px;
    background: linear-gradient(120deg, #e6f0ff, #f2faff, #e8ffe6);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  @media (max-width: 1050px) {
    .course-page{
      flex-direction: column;
    }
  }