.course-video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .course-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
    overflow-y: auto;        /* Enable vertical scrolling */
    overflow-x: hidden;      /* Disable horizontal scrolling */
    max-height: 700px;       /* You can adjust this based on your design needs */
  }
  .course-body::-webkit-scrollbar {
    width: 0px;  /* This hides the scrollbar */
    height: 0px; /* This hides the horizontal scrollbar */
  }
  
  .course-body::-webkit-scrollbar-thumb {
    background: transparent; /* Optional: Set a transparent thumb so that it is not visible */
  }
  .video-section {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .video-section h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
  }
  
  .video-section .author {
    font-size: 14px;
    color: #666;
  }

  .courseprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    border-radius: 12px;
    padding: 20px;
    width: 100%; 
    text-align: left;
    min-height: 400px;
  }
  
  
  .courseimg {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ddd; 
  }
  
  .title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
  }
  .title-info{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .course-title-input{
    width: 140px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem !important;
    border: 1px solid #28a745;
    border-radius: 4px;
    outline: none;
    text-align: center;
  }
  .course-title-btn{
    padding: 8px 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  .course-title-btn:hover{
    background-color: #28a745;
    color: #fff;
  }