.liveqa-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
  background-color: #f8f9fa;
  position: relative;
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 80px;
}

.message {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  word-wrap: break-word;
  align-self: flex-start;
}

.message-sent {
  align-self: flex-end;
  background-color: #e2f7e2;
}

.message-received {
  align-self: flex-start;
  background-color: #e9e9e9;
}

.message img {
  border: 2px solid #28a745;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-sender-name {
  font-weight: bold;
  color: #333;
  font-size: 16px !important;
}

.insctructor-name {
  color: #f88b8b;
}

.student-name {
  color: #5b93d3;
}

.message p {
  margin: 0;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.input-message-bar {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  z-index: 10;
  border-top: 1px solid #ddd;
}

.message-input {
  border-radius: 30px;
  max-width: 900px;
  height: 50px;
  border-style: solid;
  border-color: rgb(73, 187, 189);
  padding-left: 20px;
  font-size: 15px;
  color: grey;
  outline: none;
  flex: 1;
}

.message p {
  margin: 0;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.back-button {
  position: absolute;
  top: 25px;
  left: 100px;
  background-color: rgb(73, 187, 189);
  border: none;
  cursor: pointer;
  padding: 7px 14px;
  /* padding: 15px 10px; */
}

.back-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
