.course-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.course-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.course-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.course-form input[type="text"],
.course-form textarea,
.course-form select,
.course-form input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.course-form textarea {
  resize: vertical;
}

.course-form button {
  background-color: #fff;
  margin-right: 10px;
  color: #28a745;
  border: 1px solid #28a745;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.course-form button:hover {
  background-color: #28a745;
  color: #fff;
}

.course-form .section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.course-form .video-input {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.course-form .video-input input {
  flex: 1;
}
.questions {
  margin-bottom: 10px;
}
.input-number {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 15px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.input-number:focus {
  border-color: #000000;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}
