.course-purchase {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.course-purchase h3 {
  margin-bottom: 8px;
  font-size: 15px;
}

@media (max-width: 680px) {
  .course-purchase img {
    width: 100px;
    height: 80px;
    object-fit: cover;
  }

  .course-purchase {
    gap: 20px;
    padding: 20px 40px;
  }

  .course-purchase h3,
  .course-purchase h2 {
    font-size: 13px;
  }

  .purchase {
    padding: 4px;
    font-size: 13px;
  }
}

@media (min-width: 681px) {
  .course-purchase img {
    width: 220px;
    height: 150px;
    object-fit: cover;
  }

  .course-purchase {
    gap: 60px;
    padding: 20px 80px;
  }

  .purchase {
    padding: 8px;
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .course-purchase {
    gap: 80px;
    padding: 40px 100px;
  }

  .purchase {
    padding: 12px 20px;
    font-size: 16px;
  }
}
