.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

@media (min-width: 700px) {
  .login-container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 40px;
  }
}

@media (min-width: 1000px) {
  .login-container {
    gap: 100px;
  }
}

.main-image {
  width: 90%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.input-textbox {
  border-radius: 30px;
  width: 100%;
  padding: 16px 20px;
  border: 2px solid rgb(73, 187, 189);
  margin-bottom: 20px;

  font-size: 15px;
  color: grey;
  outline: none;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 41%;
  transform: translateY(-50%);
  border: none;
  background: none;
}

.login-register-button {
  border-radius: 25px;
  padding: 11px;
  background-color: rgb(73, 187, 189);
  color: white;
  border: none;
  cursor: pointer;
}

.switch-login {
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgb(73, 187, 189);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.remember-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-container a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: rgb(73, 187, 189);
  color: rgb(73, 187, 189);
}

.forgot-container h4 {
  display: inline-block;
  margin-right: 4px;
}

.forgot-container {
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 600px) {
  .main-image {
    max-width: 300px;
  }

  .input-textbox {
    font-size: 14px;
  }

  .login-register-button,
  .switch-login {
    font-size: 14px;
    padding: 8px;
  }
}
