.base-color {
  color: rgb(47, 50, 125);
}

.homepage p,
.homepage-logged-in p {
  color: #696984;
  font-size: 17px;
}

.first-page {
  height: 100vh;
  background-color: rgb(73, 187, 189);
  border-radius: 0 0 43% 43%;
  padding-left: 100px;
  position: relative;
  overflow: hidden;
}

.text-content {
  max-width: 42%;
  top: 20%;
  position: absolute;
}

.text-content h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
}

.text-content h1 .highlighted {
  color: orange;
}

.text-content h2 {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

.image-container {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-width: 40%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.join-yomac-button {
  border-radius: 40px;
  padding: 15px 35px;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100;
}

.header {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.highlight {
  color: rgb(0, 203, 184);
}

.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1250px) {
  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 710px) {
  .text-content h1,
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .text-content h1,
  .text-content h2 {
    font-size: 16px;
  }
}

.feature {
  text-align: center;
  width: 300px;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.09);
  border-radius: 20px;
  padding: 20px 20px;
}

.icon-placeholder1 {
  background-color: #5b72ee;
}

.icon-placeholder2 {
  background-color: #00cbb8;
}

.icon-placeholder3 {
  background-color: #29b9e7;
}

.feature div {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-placeholder1 img {
  width: 33px;
  height: 46px;
  object-fit: cover;
}

.icon-placeholder2 img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.icon-placeholder3 img {
  width: 40px;
  height: 35px;
  object-fit: cover;
}

.about {
  text-align: center;
  margin-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.about h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

@media (max-width: 1180px) {
  .cards {
    flex-direction: column;
    gap: 40px;
  }

  .card img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 1181px) {
  .card img {
    max-width: 480px;
    height: auto;
    object-fit: cover;
  }
}

.card {
  text-align: center;
  position: relative;
  flex: 1;
}

.card h3 {
  color: white;
  top: 35%;
  position: absolute;
  left: 20%;
  right: 20%;
}

.card img {
  /* max-width: 480px; */
  flex: 1;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.card a {
  top: 50%;
  position: absolute;
  left: 20%;
  right: 20%;
}

.card button {
  border-radius: 25px;
  padding: 15px 25px;
  cursor: pointer;
  background: #23bdee;

  color: white;
}

.classroom {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 200px;
  max-width: 1000px;
}

.classroom h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.homepage-courses-list {
  /* display: flex;
  justify-content: space-between;
  gap: 40px; */
  margin-top: 40px;
}

.homepage-courses-list p {
  /* display: flex;
  justify-content: space-between;
  gap: 40px; */
  margin-bottom: 6px;
}

.homepage-course-card {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  flex: 1;
}

.homepage-course-card h3 {
  margin-bottom: 8px;
  font-size: 15px;
}

@media (max-width: 680px) {
  .homepage-course-card img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }

  .homepage-courses-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }

  .homepage-logged-in {
    padding: 20px 40px;
  }

  .homepage-course-card {
    gap: 10px;
  }

  .homepage-course-card h3,
  .homepage-course-card h2 {
    font-size: 13px;
  }

  .purchase {
    padding: 4px;
    font-size: 13px;
  }
}

@media (min-width: 681px) {
  .homepage-course-card img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }

  .homepage-course-card {
    gap: 20px;
  }

  .homepage-logged-in {
    padding: 20px 80px;
  }

  .purchase {
    padding: 8px;
    font-size: 14px;
  }
}

@media (min-width: 920px) and (max-width: 1430px) {
  .homepage-courses-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

@media (min-width: 1431px) {
  .homepage-course-card {
    border-right: 1px solid #e0e0e0;
    padding-right: 5px;
  }

  .homepage-courses-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
}

@media (min-width: 1000px) {
  .homepage-course-card {
    gap: 40px;
  }

  .homepage-logged-in {
    padding: 20px 100px;
  }

  .purchase {
    padding: 12px 20px;
    font-size: 16px;
  }
}

.home-forgot-container a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: rgb(73, 187, 189);
  color: rgb(73, 187, 189);
  font-size: 24px;
}

.home-forgot-container h1 {
  display: inline-block;
  margin-right: 8px;
  font-size: 24px;
}

.home-forgot-container {
  margin: 20px 0;
}
