.profile-card {
  font-family: "Arial", sans-serif;
  background: linear-gradient(120deg, #e6f0ff, #f2faff, #e8ffe6);
  margin: 0;
  padding: 0;
  color: #333;
}

.container12 {
  display: flex;
  gap: 30px;
  padding: 40px;
}
@media (max-width: 768px) {
  .container12 {
    flex-direction: column;
  }
}
