.course-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.course-card h3 {
  margin-bottom: 8px;
  font-size: 15px;
}

.search-course-details {
  flex: 1;
}

.course-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.course-description {
  font-weight: 400;
}
.course-duration,
.course-instructor,
.course-ratingg {
  font-weight: 400;
}

.purchase {
  display: flex;
  margin-top: 15px;
  background-color: #fff;
  color: #28a745;
}

.purchase a {
  text-decoration: none;
}

.purchase:hover {
  background-color: #28a745;
  color: #fff;
}

@media (max-width: 680px) {
  .course-card img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }

  .course-card {
    gap: 20px;
  }

  .course-card h3,
  .course-card h2 {
    font-size: 13px;
  }

  .search-container {
    padding: 20px 40px;
  }

  .purchase {
    padding: 4px;
    font-size: 13px;
  }
}

@media (min-width: 681px) {
  .course-card img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }

  .course-card {
    gap: 60px;
  }

  .purchase {
    padding: 8px;
    font-size: 14px;
  }

  .search-container {
    padding: 20px 80px;
  }
}

@media (min-width: 1000px) {
  .search-container {
    padding: 20px 100px;
  }
  .course-card {
    gap: 80px;
  }

  .purchase {
    padding: 12px 20px;
    font-size: 16px;
  }
}

.no-results-container {
  margin: 50px auto;
  max-width: 600px;
  color: #333;
  padding-left: 40px;
}

.no-results-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.no-results-container h1 strong {
  font-weight: bold;
  color: #000;
}

.no-results-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.no-results-container ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  text-align: left;
}

.no-results-container li {
  font-size: 14px;
  margin-bottom: 8px;
}

.course-price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 1.2em;
}

.discounted-price {
  color: #e63946;
  font-size: 1.5em;
  font-weight: bold;
}

.final-price {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}
