
.content-list {
  width: 40%;
  max-width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;        /* Enable vertical scrolling */
  overflow-x: hidden;      /* Disable horizontal scrolling */
  max-height: 700px;       /* You can adjust this based on your design needs */
}

.content-list::-webkit-scrollbar {
  width: 0px;  /* This hides the scrollbar */
  height: 0px; /* This hides the horizontal scrollbar */
}

.content-list::-webkit-scrollbar-thumb {
  background: transparent; /* Optional: Set a transparent thumb so that it is not visible */
}
.h2{
  margin-top: 25px;
}
  @media (max-width: 1050px) {
    .content-list {
      width: 100%;
      max-width: 100%;
    }
  }

  .content-list h2 {
    font-size: 18px;
    color: #333;
  }
  
  .modules {
    margin-top: 10px;
  }
  
  .module {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: linear-gradient(120deg, #e6f0ff, #f2faff, #e8ffe6);
  }
  
  .module-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .module-header h3 {
    font-size: 16px;
    color: #333;
  }
  
  .lessons {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
  }
  
  .lesson {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .lesson:hover {
    cursor: pointer;
  }
  
  .lesson-icon-and-title {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .lesson-icon {
    width: 24px;
    height: 24px;
    object-fit: contain; 
  }
  
  .lesson-icon:hover {
    cursor: pointer;
  }
  .add-btn, .add-section-btn,.save-btn {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin: 20px 5px 0 5px;
  }
  
  .add-btn:hover, .add-section-btn:hover,.save-btn:hover {
    background-color: #28a745;
    color: #fff;
  }
  
  .inline-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
  }
  
  .inline-form input {
    display: block;
    margin: 8px 0;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .inline-form input {
    margin: 5px 0;
    width: 100%;
    padding: 8px;
  }
  
.btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}